<div>
    <form action="/posts/new" method="POST">
        <h2>Nova postagem</h2>
        <label for="title">Título:</label>
        <input type="text" name="title">
        <label for="content">Texto:</label>
        <input type="text" name="content">
        <label for="description">Descrição:</label>
        <input type="text" name="description">
        <button type="submit">Criar postagem</button>
    </form>
</div>